main {
  overflow-x: hidden;
  .logo{
    margin: 0 auto;
  }
  .el-aside{
    position: fixed;
    left: 0;
    max-width: 80px;
    height: 100vh;
    z-index: 999;
    transform: translate(-80px);
    transition: all 0.3s ease-in-out;
  }
  .el-aside.on{
    transform: translate(0px);
    transition: all 0.3s ease-in-out;
  }
  .el-menu-vertical{
    height: 100vh;
    .el-menu-item {
      height: 64px;
      line-height: 30px;
      flex-direction: column;
      justify-content: center;
    }
  }
  .logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .user-name{
      margin-top: 4px;
      width:50px;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
    }
  }
  .footer-index {
    right: 0px;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  .footer-index.on{
    transform: translate(80px);
    transition: all 0.3s ease-in-out;
  }
  .footer-info{
    bottom: 0;
    width: 100%;
    z-index: 1001;
    text-align: center;
    line-height: 75px;
    font-size: 14px;
    height: 75px;
    background-color: #fff;
    border-top: 1px solid rgb(216, 216, 216);
    position: absolute;
  }
  .aside-button {
    height: 0 !important;
    color: rgb(255, 255, 255);
    z-index: 90;
    // margin-left: 30px;
    transition: all 0.3s ease-in-out;
    i {
      padding: 0px;
      width: 40px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      background-color: rgba(121, 121, 121, 0.425);
      border-radius: 4px;
    }
  }
  .aside-button.isMenu{
    margin-left: 80px;
    transition: all 0.3s ease-in-out;
  }
}