header{
  margin-left: 60px;
}
main{
  margin: 18px;
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  .content{
    margin-left: 50px;
    .list-content{
      display: flex;
      align-items: center;
      padding: 14px 0;
      border-left: 1px dashed rgb(216, 216, 216);
      position: relative;
      .icon{
        position: absolute;
        left: -6px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(214, 214, 214);
        margin-right: 10px;
      }
      .time{
        width: 40px;
        font-size: 14px;
        color: rgb(58, 58, 58);
        margin-left: 20px;
      }
      .title{
        margin: 0 10px;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight:500;
        color: #127ea9;
      }
    }
  }
}
footer{
  display: flex;
  align-items: center;
  background-color: #FFF;
  height: 40px;
  margin: 18px 18px 50px 18px;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}