$white: rgb(68, 68, 68);
$white1: #ebeef5;

@media screen and (max-width: 500px) {
  header {
    background-color: #fff;
    padding-left: 60px;
    padding-top: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 4px;
    }
    .created-time {
      display: flex;
      align-items: center;
      color: rgb(141, 141, 141);
      font-size: 14px;
      .material-icons {
        font-size: 14px;
        margin-right: 6px;
      }
    }
  }
  main {
    background-color: #fff;
    padding: 14px;
    margin-bottom: 10px;
    .detail-content {
      min-height: 130px;
      font-size: 14px;
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
      letter-spacing: 1px;
      color: $white;
      display: flex;
      flex-direction: column;
    }
  }
}
footer {
  padding: 14px;
  background-color: #fff;
  .text {
    font-weight: 400;
    font-size: 18px;
    color: $onText;
    margin-bottom: 12px;
  }
  .comment-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .el-textarea {
      width: 85%;
    }
  }
  .comment-model {
    padding-top: 10px;
    border-bottom: 1px solid $threeBorder;
    display: flex;
    .content-info {
      margin-left: 10px;
      width: calc(100% - 42px);
      .user {
        color: $onText;
        font-size: 16px;
        margin-bottom: 10px;
      }
      .content {
        color: $twoText;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
      .time-edit {
        color: $threeText;
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
          font-size: 12px;
          color: $threeText;
          :deep(span){
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
