.header-img{
  .el-image{
    position: relative;
    width: 100%;
    float: right;
  }
  .title-button{
    position: absolute;
    top: 120px;
    left: 38px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title{
      color: #fff;
      font-size: 2em;
      font-weight: bold;
    }
    .text{
      margin-top: 20px;
      width: 200px;
      font-size: 14px;
      font-weight: bold;
    }
    .logo{
      width: 80px;
    }
  }
  .mouse-button{
    position: absolute;
    top: 90vh;
    left: 40px;
    color: #ffb937;
  }
}
.box-card{
  border: none;
  margin-left: 20px;
  width: 95%;
  :deep(.el-card__header){
    border: none;
    .created-time{
      display: flex;
      align-items: center;
      color: rgb(141, 141, 141);
      font-size: 14px;
      .material-icons{
        font-size: 14px;
        margin-right: 6px;
      }
    }
  }
  :deep(.el-card__body){
    font-size: 15px;
    padding: 0px 20px;
    div{
      max-height: 106px;
      overflow:hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
  }
}
.footer{
  margin: 20px 50px 50px 50px;
}