@font-face {
  font-family: "iconfont"; /* Project id 2968404 */
  src: url('iconfont.woff2?t=1637915920563') format('woff2'),
       url('iconfont.woff?t=1637915920563') format('woff'),
       url('iconfont.ttf?t=1637915920563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e645";
}

